.panierList {
  text-align: center;
}

.img-card{
  width:100%;
  max-width: 150px;
  height: 150px;
  padding: 1em;
  margin:0 auto;
  margin-top: 2em;
}
.card {
  text-align: center;
}

.topTitle,.navLink{
  color: rgb(165, 165, 165)!important;
  text-decoration: none;
  font-weight: 400px; 
}

.imagePanier{
  width:100%;
  max-width: 100px;
  max-height: 100px;
  /* padding: 1em; */
}

td{
  vertical-align: baseline;
  /* border-bottom: 1px solid black ; */
}
.t_right{
text-align: right;
}
.t_left{
text-align: left;
}

/* .panierTotal{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
} */
